html:after{

    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /*background:linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0) 100%);*/
    pointer-events:none;
    /*z-index:12;*/
}



.bodyContent {
  position:absolute;
  top:100%;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  padding-bottom:20px;
  transform-origin:50% 50%;
  transform:perspective(300px) rotateX(20deg);
  -webkit-transform-origin:50% 50%;
  -webkit-transform:perspective(300px) rotateX(20deg);
  -moz-transform-origin:50% 50%;
  -moz-transform:perspective(300px) rotateX(20deg);
  -ms-transform-origin:50% 50%;
  -ms-transform:perspective(300px) rotateX(20deg);
  -khtml-transform-origin:50% 50%;
  -khtml-transform:perspective(300px) rotateX(20deg);
  -o-transform-origin:50% 50%;
  -o-transform:perspective(300px) rotateX(20deg);
  z-index:0;
  overflow:hidden;.
     animation:autoscroll 5340s linear;
  -webkit-animation:autoscroll 5340s linear;
  -moz-animation:autoscroll 5340s linear;
  -ms-animation:autoscroll 5340s linear;
  -o-animation:autoscroll 5340s linear;

}

.bodyContent p {
  margin-left:20%;
  margin-right:20%;
  color:#feb029;
  font-family:arial;
  font-weight:100;
   text-shadow:0 3px 3px rgba(0,0,0,0.42);
   font-size: 15rem !important;
}

.bodyContent h1 {
  /*z-index:10;*/

    margin-left:20%;
  margin-right:20%;
  color:#fff;
  font-family:arial;
  font-weight:100;
  text-shadow:0 8px 3px rgba(0,0,0,0.42);
  font-size: 17rem !important;
}


#overflowContainer {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
}

#videoBackground {
   pointer-events:none;
	position: absolute;
	top: -20vh;
	left: 0;
	width: 100%;
	height: 100%;
}

@keyframes autoscroll{
    to{
        top:-50000px;
    }
}
